body {
    margin: 0;
    background-color: darkslategrey;
    color: white;
    text-align: center;
}
    


body > h1 {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    margin-top: 0;
    margin: auto;
    width: 70%;
    }

    